/* --- ISSUES/NOTES --- */
:root {
  --main-text-color: white;
  --main-text-inverted-color: black;
  --main-bg-color: white;
  --note-border-color: #52E052;
  --note-bg-color: #E9FBE9;
  --note-marker-color: hsl(120, 70%, 30%);
  --warning-bg-color: #fbe9e9;
  --warning-border-color: #f11;
  --warning-box-shadow-color: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-text-color: rgb(232, 230, 227);
		--main-text-inverted-color: white;
		--main-bg-color: rgb(24, 26, 27);
		--note-border-color: rgb(27, 151, 27);
		--note-bg-color: rgb(10, 54, 10);
		--note-marker-color: rgb(141, 235, 141);
		--warning-bg-color: rgb(54, 10, 10);
		--warning-border-color: rgb(201, 0, 0);
		--warning-box-shadow-color: black;
	}
}
.issue-label {
    text-transform: initial;
}

.warning > p:first-child { margin-top: 0 }
.warning {
    padding: .5em;
    border-left-width: .5em;
    border-left-style: solid;
}
span.warning { padding: .1em .5em .15em; }

.issue.closed span.issue-number {
    text-decoration: line-through;
}

.warning {
    border-color: var(--warning-border-color);
    border-width: .2em;
    border-style: solid;
    background: var(--warning-bg-color);
}

.warning-title:before{
    content: "⚠"; /*U+26A0 WARNING SIGN*/
    font-size: 1.3em;
    float: left;
    padding-right: .3em;
    margin-top: -0.3em;
}

li.task-list-item {
    list-style: none;
}

input.task-list-item-checkbox {
    margin: 0 0.35em 0.25em -1.6em;
    vertical-align: middle;
}

.issue a.respec-gh-label {
  padding: 5px;
  margin: 0 2px 0 2px;
  font-size: 10px;
  text-transform: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  position: relative;
  bottom: 2px;
  border: none;
  display: inline-block;
}

.issue a.respec-label-dark {
  color: var(--main-text-inverted-color);
  background-color: var(--main-text-color);
}

.issue a.respec-label-light {
  color: var(--main-text-color);
  background-color: var(--main-text-inverted-color);
}
